<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div id="topnav">
        <div id="text_box">text</div>
        <div id="increment" name="increment">1</div>
      </div>
      <div id="comment_box">
        <textarea name="comment-box" style="resize: none"></textarea>
        <button type="submit">등록</button>
      </div>
      <div id="user_comment">
        <div id="user_id">{{userid}}</div>
        <div id="comment_area">
          <div id="comment_text">hello</div>
          <button>🗑️</button>
        </div>
        <div id="date">2023-10-13</div>
      </div>
    </div>
  </body>
</html>
